{% extends "base_menu.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<ul>
  {% if user.is_authenticated %}
  <li>
    <p><a href="{% url 'jhpl_ims:index' %}">JHPL IMS</a></p>
  </li>

   <!--<li>
   <p><a href="">AJCL IMS</a></p> -->
   
  <img src="{% static "images/main_photo.jpg" %}" alt="" class="center_main_photo">
  <li>
    {% else %}
    <p>
      <a href="{% url 'login' %}"
        >You are signed out. Please click here to access the content.</a
      >
    </p>
  </li>
</ul>
<img src="{% static "images/secondary_photo.jpg" %}" alt=""
class="center_secondary_photo"> {% endif %} {% endblock %}
